### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
# Archivos de compilación
*.class

# Carpetas de salida comunes
/bin/
/build/
/out/

# Configuración de IDEs
*.iml
.idea/
*.ipr
*.iws
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Maven
target/

# Gradle
.gradle/
build/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store